@media(max-width: 1550px){
	.menu ul li .dropdown{
		left: 50%;
		transform: translateX(-50%);
	}
}

@media(max-width: 1350px){
	.footer .crow .steps5 .colc img{
		max-width: 80%;
	}
	.sec1{
		margin-top: 58px;
	}
	.menu ul li .maina{
		font-size: 17px;
		line-height: 13px;
		padding: 21px 0 23px;
		padding-left: 27px;
		padding-right: 17px;
	}
	.sec1 .green_card1{
		margin-right: 10px;
	}
	.sec1 .green_card2{
		margin-right: 10px;
	}
	.sec2 .custom_cols .leftside {
	    width: calc(100% - 291px);
	}
	.kondeservices{
		margin-right: 5px;
	}
	.onphoneforlist{
		margin-right: 15px;
	}
	.betalingsmuligheder .imgs img{
		max-width: 115px;
	}
	.betalingsmuligheder{
		min-height: 361.14px;
	}
}

@media(max-width: 1200px){
	.menu .searchbox_active {
	    max-width: calc(100% - 120px);
	}
	.menu .searchbox .searchcont{
		max-width: 630px;
		margin-left: 40px;
	}
	.menu .searchbox .searchresults{
		max-width: 630px;
	}
	.menu .searchbox .searchresults .boxins{
		margin-left: 76px;
	}
	.menu ul{
		width: calc(100% - 120px);
	}
	.onphoneforlist{
		margin-right: 5px;
	}
	.footer .crow .leftside .withform .socmediea ul .rs{
		right: unset;
		top: unset;
		position: relative;
		margin-top: 10px;
		display: block;
	}
	.footer .crow .leftside .withform .socmediea{
		margin-top: 10px;
	}
	.footer .crow .steps5{
		display: block;
		text-align: center;
	}
	.footer .crow .steps5 .colc{
		display: inline-block;
		padding-left: 40px;
		    padding-right: 40px;
		width: auto;
		vertical-align: top;
		margin-bottom: 10px;
	}
	.ulempercard{
		min-height: 148px;
	}
	.betalingsmuligheder .imgs img {
	    max-width: 86px;
	}
	.new_row_w3 .col{
		max-width: calc(33.33% - 4px);
	}
	.IndbetalingUdbetaling .para_card .rowwithsols ul{
		padding-left: 0;
	}
	.IndbetalingUdbetaling .para_card .rowwithsols ul .s2 img{
		max-width: 30%;
	}
	.sec2 .card_w_droping .boxes2 .leftsidec ul li, .sec2 .card_w_droping .boxes2 .rightsidec ul li{
		font-size: 14px;
	}
	.sec2 .custom_cols .rightside {
	    width: 240px;
	}
	.sec2 .custom_cols .leftside {
	    width: calc(100% - 250px);
	}
	.reviews_r2 img{
		max-width: 100px;
	}
	.reviews_r2 p{
		font-size: 12px;
	}
	.reviews_r2{
		padding: 15px;
	}
	.forhelp h2{
		font-size: 19px;
	}
	.forhelp h3, .forhelp h4{
		font-size: 14px;
	}
	.mrgreenbonus_card .withlist ul li{
		font-size: 14px;
	}
	.casinoanmeldelser .card_b h3{
		font-size: 14px;
	}
	.stickym .box h2{
		font-size: 30px;
	}
	.banner_card1 h2{
		font-size: 14px;
	}
	.spiludvalg_hos .contm ul{
		padding-left: 0;
	}
	.before_menu .cont .logo{
		max-width: 290px;
	}
	.before_menu .cont{
		min-height: 174px;
	}
	.green_card2 h1{
		font-size: 22px;
	}
	.green_card1{
		max-width: 240px;
	}
	.green_card1 .mrgreenlogo{
		max-width: 160px;
	}
	.green_card3{
		max-width: 240px;
	}
	
	.menu ul .searchicon{
		// display: none;
		img{
			max-width: 20px;
		}
	}
	.menu .logo{
		margin-right: 10px;
	}
	.menu ul li{
		// position: inherit;
	}
	.menu ul li .dropdown{
		width: 100%;
	}
	.menu ul li .maina{
		font-size: 14px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.menu ul li .icon{
		max-width: 15px;
		// display: none;
	}
	.menu ul li .arrowonmenu{
		max-width: 10px;
		// display: none;
	}
	.menu ul li .dropdown .ddinside{
		padding: 21px 20px 44px 20px;
	}
	.menu ul li .dropdown{
		min-width: 400px;

	}
	.menu ul li .dropdown .ddinside .btngreen a{
		font-size: 18px;
	}
	.menu ul li .dropdown .ddinside a{
		font-size: 14px;
	}
	.menu ul li .dropdown .ddinside .btngreen{
		margin-top: 30px;
	}
}


@media(max-width: 992px){
	.menu .searchbox_active{
		display: none;
	}
	.menu ul{
		min-height: 44px;
		width: 100%;
	}
	.menu .downline{
		display: none;
	}
	.sec2 .row2_c .onphoneforlist{
		display: flex;
		justify-content: space-between;
		max-width: 100%;
		.kondeservices{
			max-width: calc(100% - 5px);
			width: calc(100% - 5px);
			margin-left: 6px;
		}
	}
	.kondeservices h2{
		margin-bottom: 73px;
	}
	.sec2 .row2_c .onphoneforlist .omleovagas{
		display: block;
		margin-top: 0;
		max-width: calc(100% - 5px);
		width: calc(100% - 5px);
		margin-right: 6px;
	}
	.footer .crow .leftside{
		width: 100%;
	}
	.footer .crow .rightside{
		width: 100%;
		display: block;
		position: relative;
		margin-top: 15px;
		min-height: unset;
	}
	.footer .crow .leftside .withform .socmediea ul .rs{
		margin-top: 20px;
	}
	.footer .crow .leftside .withform .socmediea{
		margin-top: 20px;
	}
	.betalingsmuligheder .imgs img{
		max-width: unset;
	}
	.udvalgafspil ul li{
		margin-right: 25px;
	}
	.betalingsmuligheder{
		min-height: unset;
		padding-bottom: 15px;
	}
	.new_row_w3{
		// display: block;
		// margin-top: -10px;
		display: flex;
		flex-wrap: wrap;
		.col{
			width: 100%;
			max-width: 100%;
		}
	}
	.betalingsmuligheder .imgs img {
	    max-width: 103px;
	}
	.ulempercard {
	    min-height: 140px;
	}
	.udvalgafspil{
		margin-top: 0;
	}
	.udvalgafspil ul li{
		margin: 0;
		display: inline-block;
		min-width: calc(50% - 10px);
	}
	.new_row_w3 .col:nth-child(1){
		margin-right: 5px;
	}
	.new_row_w3 .col:nth-child(2){
		margin-left: 5px;
	}
	.new_row_w3 .col:nth-child(3){
		flex-basis: 100%;
	}
	.placeforslider2 .slick-slide{
		padding-left: 3px;
		padding-right: 3px;
	}
	.placeforslider .slick-slide{
		padding-left: 3px;
		padding-right: 3px;
	}
	.onlyphone{
		display: block;
	}
	.sec1 {
	    margin-top: 0;
	}
	.spiludvalg_hos .contm .mangeforskellinge .leftsidell, .mrgreenbonus_card .livecasionobonus .leftsidell{
		display: block;
		max-width: 100%;
		img{
			max-width: 100%;
			width: 100%;
		}
	}
	.historieogpriser .para_card ul{
		padding-left: 20px;
	}
	.sec2 .custom_cols .rightside {
	    width: 200px;
	    p{
	    	font-size: 14px !important;
	    }
	    h2{
	    	font-size: 15px !important;
	    }
	}
	.sec2 .custom_cols .rightside p{
		padding-left: 0;
	}
	.udvalgafspil ul li{
		font-size: 14px;
	}
	.casinoanmeldelser .card_b .mainimg{
		max-width: 70px;
	}
	.casinoanmeldelser .card_b{
		padding-left: 64px;
	}
	.casinoanmeldelser .card_b .flag{
		left: 58px;
	}
	.casinoanmeldelser .card_b h3{
		padding-top: 5px;
		margin-bottom: 2px;
	}
	.slider4 .forsliderht{
		text-align: left;
	}
	.sec2 .flereonlinecasino h1{
		font-size: 23px;
		margin-bottom: -20px;
	}
	.flereonlinecasino .box{
		margin-top: 20px;
	}
	.sec2 .custom_cols .rightside .casinoanmeldelser .card_b p{
		font-size: 11px !important;
		margin-top: 4px;
	}
	.casinoanmeldelser .card_b {
	    min-height: 72px;
	}
	.stickym .box .mrgreenlogo{
		max-width: 120px;
	}
	.stickym .box {
	    min-height: 190px;
	}
	.sec2 .stickym .box h2{
		padding-bottom: 20px;
		padding-top: 10px;
		font-size: 25px !important;
	}
	.sec2 .custom_cols .leftside {
	    width: calc(100% - 210px);
	}
	.sec2 .card_w_droping .boxes2 {
	    display: block;
	    padding-top: 20px;
	    padding-bottom: 10px;
	}
	.sec2 .card_w_droping .content_in_card_active {
	    max-height: 1000px;
	}
	.sec2 .card_w_droping .boxes2 .leftsidec, .sec2 .card_w_droping .boxes2 .rightsidec{
		padding-top: 0;
		padding-bottom: 0;
	}
	.sec2 .row2_c{
		display: block;
	}
	.kondeservices {
	    margin-right: 0;
	    width: 100%;
	    max-width: 100%;
	    margin-bottom: 10px;
	}
	.mrgreenbonus_card .withlist h3{
		margin-top: 15px;
	}
	.sec2 .custom_cols h1{
		padding-left: 0;
	}
	.banner_card1 h2 .flag{
		position: absolute;
		right: 10px;
		top: 10px;
	}
	.banner_card1 h2{
		padding-left: 10px;
		padding-right: 10px;
	}
	.banner_card1 .arrow_green{
		padding-left: 20px;
		padding-right: 20px;
	}

	.banner_card1 .btnm{
		padding-right: 40px;
	}
	.banner_card1 .btnm {
	    padding-right: 40px;
	    top: unset;
	    transform: unset;
	    bottom: 25px;
	    left: 52px;
	    right: 0;
	    margin: auto;
	    text-align: center;
	}
	.banner_card1  .btnm:before{
		content: '*Vilkår gælder';
		position: absolute;
		left: 0;
		right: 0;
		font-family: NeueHaasUnicaW1G;
		bottom: -23px;
		font-size: 12px;
		color: #1C723C;
	}
	.banner_card1{
		padding-bottom: 80px;
	}
	.banner_card1 .toparea {
	    position: initial;
	}
	.banner_card1 .mainimg{
		top: unset;
		transform: unset;
		bottom: 10px;
		left: 0;
		right: 155px;
		margin: auto;
		text-align: center;
		max-height: 42px;
		border-radius: 12px;
		overflow: hidden;
	}
	.banner_card1 .placeformainimg{
		top: unset;
		transform: unset;
		bottom: 25px;
		left: 0;
		right: 163px;
		margin: auto;
		text-align: center;
		max-height: 42px;
		border-radius: 12px;
		overflow: hidden;
		max-width: 42px;
		min-height: 42px;
	}
	.banner_card1 .placeformainimg .mrgreenlogo{
		max-width: 32px;
	}
	.banner_card1 .tickets{
		display: none;
	}
	.banner_card1 h2{
		font-size: 23px;
	    padding-left: 30px;
	    padding-right: 30px;
	    margin-bottom: 7px;
	    line-height: 29px;
	}
	.banner_card1 h2 img:first-child {
	    position: absolute;
	    bottom: 37px;
	    max-width: 18px;
	    right: 0;
	    left: 160px;
	    margin: auto;
	    z-index: 99;
	}
	.banner_card1 .desc_active{
		display: block;
		position: relative;
		padding-bottom: 50px;
	}
	.banner_card1 .desc .l{
		width: 100%;
	}
	.banner_card1 .desc .r{
		width: 100%;
		margin-bottom: 10px;
		margin-top: 10px;
	}
	.banner_card1 .desc .l p a{
		position: absolute;
		bottom: 25px;
		left: 0;
		right: 0;
	}
	.historieogpriser .para_card iframe{
		height: 300px;
	}
	.kundeservice .divwith2side .lefts_img .rows3{
		max-width: 280px;
		margin: auto;
		margin-bottom: 20px;
		margin-top: 10px;
	}
	.kundeservice .divwith2side p, .kundeservice .divwith2side .lefts_img{
		display: block;
		margin: auto;
		max-width: 100%;
		img{
			max-width: 100%;
		}
	}
	.stickym .box .mrgreenlogo{
		top: 20px;
	}
	.reviews_r2{
		max-width: 100%;
	}
	.spiludvalg_hos .contm .mangeforskellinge img,.mrgreenbonus_card .livecasionobonus img{
		display: block;
		margin: auto;
	}
	.spiludvalg_hos .contm .mangeforskellinge p, .mrgreenbonus_card .livecasionobonus p{
		width: 100%;
		display: block;
		max-width: 100%;
		padding: 0;
	}


	.before_menu .cont .ilustrations_header{
		display: none;
	}
	.before_menu .cont .logo{
		max-width: 124px;
	}
	.before_menu .cont{
		min-height: unset;
		padding: 0;
	}
	.container{
		// max-width: 375px;
		padding-left: 5px;
		padding-right: 5px;
		overflow: hidden;

	}

	.sec1{
		.green_card2, .green_card1, .green_card3{
			display: none;
		}
	}
	.menu ul{
		// display: none;
	}
	.sec1 .wrapper .toplinks{
		span{
			display: none;
		}
	}
	.menu ul li{
		display: none;
	}
	.menu ul .changenight{
		display: block;
		right: 15px;
	}
	.menu ul .changenight a{
		height: 45px;
	}
	.menu_fixed{
		position: absolute;
	}
	.menu .logo{
		display: none;
	}
	.menu{
		z-index: 999999999;
		position: absolute;
		top: 0;
		background: transparent;
		min-height: 50px;
		.cont{
			min-height: 49.22px;
		}
	}
	.menu{
		// display: none;
	}
	.sec1 .wrapper .titpl h1{
		font-size: 25px;
		line-height: 17px;
		span{
			display: none;
		}
	}
	.sec1 .wrapper .titpl h1 img {
	    position: absolute;
	    max-width: 79px;
	    left: 140px;
	    top: 5px;
	}
	.sec1{
		.cards{
			margin: 0;
			margin-left: -5px;
			width: calc(100% + 10px);
			.forphone{
				display: block;
				width: 100%;
				height: 100%;
			}
		}
	}
	.sec1 .wrapper .titpl .medal {
	    max-width: 41px;
	    left: -3px;
	}
	.phonebanner{
		display: block;
		min-height: 59px;
		background: #243A18;
		width: calc(100% + 10px);
		margin-left: -5px;
		margin-top: 25px;
		padding-left: 5px;
		padding-right: 5px;
		position: relative;
		.logo_small_banner{
			display: inline-block;
			margin: 0;
			padding: 0;
		}
		h2{
			font-family: HelveticaNeueLTPro_BdCn;
			font-size: 26px;
			line-height: 22px;
			color: #fff;
			display: inline-block;
			padding-top: 15px;
			vertical-align: top;
			padding-left: 15px;
			span{
				color: #F8D852;
			}
		}
		.btn_r{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			max-width: 114px;
			right: 5px;
		}
	}
	.menuforphone{
		display: block;
		min-height: 64px;
		background: #000;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 9999999999999999;
		.wrapper{
			max-width: 720px;
			margin: auto;
			position: relative;
		}
		.menus{
			display: flex;
			justify-content: space-between;
			padding-top: 16px;
			img{
				margin: auto;
				display: block;
				max-width: 100%;
			}
			p{
				font-family: NeueHaasUnicaW1G;
				font-size: 12px;
				line-height: 22px;
				margin-top: 1px;
				color: #828282;
				text-align: center;
				display: inline-block;
				margin-left: 10px;
				padding-top: 5px;
				vertical-align: top;
			}
			.placefroimg{
				min-height: 23px;
				margin-top: 3px;
				display: inline-block;
				img{
				}
			}
			.list{
				width: 20%;
				text-align: center;
				.home_menu{
					display: none;
				}
				.home_menu2{
					max-width: 82px;
					margin-top: 4.5px;
				}

				.dropdown{
					position: absolute;
					background: #FEF2DD;
					border: 1px solid #E4E4E4;
					min-width: 100%;
					min-height: 100px;
					max-height: calc(100vh - 64px);

					visibility: hidden;
					opacity: 0;
					overflow: auto;

					-webkit-transition: all .25s ease;
					   -moz-transition: all .25s ease;
					    -ms-transition: all .25s ease;
					     -o-transition: all .25s ease;
					        transition: all .25s ease;

					bottom: 48px;
					left: 0;
					right: 0;
					border-top-left-radius: 12px;
					border-top-right-radius: 12px;
					.ddinside{
						padding: 30px 22px 17px 22px;
						.xicon{
							position: absolute;
							right: 10px;
							top: 10px;
						}
						h2{
							font-family: NeueHaasUnicaW1GBold;
							font-size: 22px;
							line-height: 22px;
							color: #3D3D3D;
							margin-bottom: 20px;
							.flag{
								margin-left: 10px;
								display: inline-block;
							}
						}
						a{
							display: block;
							font-family: NeueHaasUnicaW1G;
							font-size: 14px;
							line-height: 22px;
							color: #3D3D3D;
							margin-bottom: 5px;
							.iconm{
								margin-right: 5px;
								max-width: 15px;
								margin-top: -1px;
								display: inline-block;
							}
							.medal{
								max-width: 18px;
								display: inline-block;
							}
							-webkit-transition: all .25s ease;
							   -moz-transition: all .25s ease;
							    -ms-transition: all .25s ease;
							     -o-transition: all .25s ease;
							        transition: all .25s ease;
						}
						a:hover{
							opacity: 0.7;
						}

						.btngreen{
							text-align: center;
							margin-top: 20px;
							a{
								display: inline-block;
								width: 100%;
								background: #1D733D;
								border-radius: 12px;
								line-height: 33px;
								padding-bottom: 5px;
								font-family: HelveticaNeueLTPro_BdCn;
								font-size: 15px;
								letter-spacing: 0.05em;
								color: #fff;
								img{
									margin-top: -3px;
									margin-left: 5px;
									margin-right: 5px;
									display: inline-block;
									max-width: 13px;
								}
								.lefticon{
									max-width: 24px;
								}
							}
						}
					}
				}
				
				.searchbox{
					position: absolute;
					max-width: 0;
					visibility: hidden;
					opacity: 0;
					overflow: hidden;
					width: 100%;
					right: 0;
					top: 0;
					bottom: 0;
					background: #292929;
					-webkit-transition: all .25s ease;
					   -moz-transition: all .25s ease;
					    -ms-transition: all .25s ease;
					     -o-transition: all .25s ease;
					        transition: all .25s ease;
					        padding-top: 3px;
					        background: black;
					.searchcont{
						white-space: nowrap;
						max-width: 93%;
						margin-left: 10px;
						margin-top: 8px;
						font-size: 16px;
						img{
							display: inline-block;
							vertical-align: top;
							margin-top: 9px;
						}
						.cancse{
							margin-top: 12px;
							cursor: pointer;
							-webkit-transition: all .25s ease;
							   -moz-transition: all .25s ease;
							    -ms-transition: all .25s ease;
							     -o-transition: all .25s ease;
							        transition: all .25s ease;
						}
						.cancse:hover{
							opacity: 0.7;
						}
						input{
							width: calc(100% - 80px);
							min-width: 200px;
							margin-left: 10px;
							margin-right: 10px;

							background: transparent;
							color: #FFFFFF;
							font-family: HelveticaNeueLTProRoman;
							font-size: 100%;
							line-height: 22px;
							border: 0;
							border-bottom: 1px solid #707070;
							border-radius: 0 !important;
							padding-top: 9px;
							    padding-bottom: 4px;
							    display: inline-block;
							    vertical-align: middle;
							    padding-left: 15px;
							    padding-right: 15px;
						}
						input:focus{
							outline: none;
						}
						*::-webkit-input-placeholder { /* Edge */
						  color: #fff;
						}

						*:-ms-input-placeholder { /* Internet Explorer 10-11 */
						  color: #fff;
						}

						*::placeholder {
						  color: #fff;
						}

						/*** iPhone and iOS Form Input Zoom Fixes ***/
						/* Fix Input Zoom on devices older than iPhone 5: */
						@media screen and (device-aspect-ratio: 2/3) {
						    select, textarea, input[type="text"], input[type="password"],
						    input[type="datetime"], input[type="datetime-local"],
						    input[type="date"], input[type="month"], input[type="time"],
						    input[type="week"], input[type="number"], input[type="email"],
						    input[type="url"]{ font-size: 16px; }
						}

						/* Fix Input Zoom on iPhone 5, 5C, 5S, iPod Touch 5g */
						@media screen and (device-aspect-ratio: 40/71) {
						    select, textarea, input[type="text"], input[type="password"],
						    input[type="datetime"], input[type="datetime-local"],
						    input[type="date"], input[type="month"], input[type="time"],
						    input[type="week"], input[type="number"], input[type="email"],
						    input[type="url"]{ font-size: 16px; }
						}

						/* Fix Input Zoom on iPhone 6, iPhone 6s, iPhone 7  */
						@media screen and (device-aspect-ratio: 375/667) {
						    select, textarea, input[type="text"], input[type="password"],
						    input[type="datetime"], input[type="datetime-local"],
						    input[type="date"], input[type="month"], input[type="time"],
						    input[type="week"], input[type="number"], input[type="email"], 
						    input[type="tel"], input[type="url"]{ font-size: 16px; }
						}

						/* Fix Input Zoom on iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus, iPhone 8, iPhone X, XS, XS Max  */
						@media screen and (device-aspect-ratio: 9/16) {
						    select, textarea, input[type="text"], input[type="password"],
						    input[type="datetime"], input[type="datetime-local"],
						    input[type="date"], input[type="month"], input[type="time"],
						    input[type="week"], input[type="number"], input[type="email"],
						    input[type="tel"], input[type="url"]{ font-size: 16px; }
						}
					}
					
				}
				.searchbox_active{
					max-width: calc(100% - 93px);
					visibility: visible;
					opacity: 1;
					overflow: unset;
				}
				.searchresults{
					position: absolute;
					min-height: 50px;
					max-width: 100%;
					width: calc(100% + 93px);
					left: -93px;
					right: 0;
					bottom: 48px;
					max-width: 820px;
					text-align: left;
					opacity: 0;
					visibility: hidden;
					max-height: calc(100vh - 70px);
					    overflow: auto;
					-webkit-transition: all .25s ease;
					   -moz-transition: all .25s ease;
					    -ms-transition: all .25s ease;
					     -o-transition: all .25s ease;
					        transition: all .25s ease;
					        .closesr{
					        	position: absolute;
					        	right: 10px;
					        	top: 10px;
					        	cursor: pointer;
					        	z-index: 999;
					        }
					.boxins{
						width: 100%;
						margin-left: 0;
						min-height: 50px;
						background: #FEF2DD;
						padding: 15px;
						border: 1px solid #E4E4E4;
						border-top-left-radius: 12px;
						border-top-right-radius: 12px;
						h1{
							font-family: NeueHaasUnicaW1GBold;
							font-size: 26px;
							line-height: 22px;
							color: #3D3D3D;
							margin-bottom: 15px;
						}
						
						a:hover{
							h2{
								opacity: 0.7;
							}
						}
						.area{
							width: 100%;
							border-top: 1px solid #D3D3D2;
							margin-bottom: 0;
							padding-left: 10px;
							padding-right: 10px;
							padding-top: 5px;
							padding-bottom: 5px;
						}
						h2{
							font-family: HelveticaNeueLTProRoman;
							font-size: 16px;
							line-height: 22px;
							color: #3D3D3D;
							margin-top: 2px;
							padding-right: 150px;
							-webkit-transition: all .25s ease;
							   -moz-transition: all .25s ease;
							    -ms-transition: all .25s ease;
							     -o-transition: all .25s ease;
							        transition: all .25s ease;
							span{
								position: absolute;
								right: 0;
								width: 130px;
								text-align: left;
							}
							img{
								max-width: 15px;
								margin-right: 4px;
								display: unset;
							}
						}
					}
				}
				.searchresults_active{
					visibility: visible;
					opacity: 1;
				}
			}
			.list:first-child{
				width: 17%;
			}
			.activemobile p{
				position: relative;
			}
			.activemobile p:before{
				content: '';
				width: 70px;
				height: 2px;
				position: absolute;
				background: #fff;
				margin: auto;
				left: -30px;
				right: 0;
				top: -17px;
			}
			.activesubmenu{
				position: relative;
			}
			.activesubmenu:before{
				width: 12.6px;
				height: 12.41px;
				content: '';
				position: absolute;
				background: url("../img/expand-arrow.png");
				left: -17px;
				top: 5px;
			}
			.list_active{
				p{
					color: #fff;
				}
				.dropdown{
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}
	.menuforphone .menus .list .dropdown .ddinside a{
		text-align: left;
	}
	.menuforphone .menus .list .dropdown .ddinside .btngreen a{
		text-align: center;
	}
	.IndbetalingUdbetaling .para_card .rowwithsols h2{
		margin-top: 10px;
	}
	.sec2 .custom_cols{
		display: block;
	}
	.sec2 .custom_cols .leftside{
		width: 100%;
	}
	.sec2 .custom_cols .rightside{
		width: 100%;
	}
	.casinoanmeldelser .card_b{
		display: inline-block;
		max-width: calc(50% - 5px);
		margin-right: -4px;
	}
	.casinoanmeldelser a:nth-child(odd) .card_b{
		margin-right: 9px;
	}
	.betalingsmuligheder{
		min-height: 331px;
	}
	.footer{
		padding-bottom: 100px;
	}
	.slider4 .greenc{
		margin-left: auto;
		margin-right: auto;
	}
}

@media(max-width: 772px){
	.menuforphone .menus p{
		margin-left: 0px;
	}
	.sec2 .row2_c .onphoneforlist .kondeservices .col-4{
		padding-left: 0;
		padding-right: 0;
	}
	.footer .crow .leftside .withform{
		padding-left: 0;
	}
	.footer .crow .leftside .withform h2 img {
	    position: relative;
	    left: unset;
	    top: unset;
	    max-width: 34px;
	    vertical-align: baseline;
	    margin-bottom: -3px;
	    margin-right: 10px;
	    margin-left: 20px;
	}
	.footer .crow .leftside .withform h2 .forphone{
		display: inline-block;
	}
	.footer .crow .leftside .withform h2 .fordesktop{
		display: none;
	}
	.footer .crow .steps5 .colc{
		padding-left: 10px;
		padding-right: 10px;
	}
	.IndbetalingUdbetaling .para_card .rowwithsols ul .s2{
		min-width: 110px;
	}
	.IndbetalingUdbetaling .para_card .rowwithsols ul .s2 img{
		left: 40px;
	}
	.sec2 .custom_cols{
		display: block;
	}
	.sec2 .custom_cols .leftside{
		width: 100%;
	}
	.sec2 .custom_cols .rightside{
		width: 100%;
	}
	.slider4 .greenc{
		margin-left: auto;
		margin-right: auto;
	}
	.historieogpriser .para_card iframe {
	    height: 160px;
	}
	.banner_card1 h2 .flag{
		max-width: 16px;
	}
	.sec2 .datap{
		padding-left: 0;
	}
	.sec2 .card_w_droping h3{
		font-size: 16px;
	}
	.reviews_r2 {
	    padding: 15px 25px;
	}
	.sec2 .custom_cols h1{
		font-size: 24px;
	}
	.sec2 .para_card_main{
		max-height: 230px;
		overflow: hidden;
		position: relative;
		.readmore {
		    position: absolute;
		    display: block;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    text-align: center;
		    background: rgb(254,242,221);
		    background: linear-gradient(0deg, rgba(254,242,221,1) 0%, rgba(254,242,221,1) 37%, rgba(255,255,255,0) 100%);
		    padding-top: 70px;
		    padding-bottom: 6px;
		    img{
				transform: scaleY(-1);
		    }
		}
		.readmore:before{
			content: '';
			width: calc(100% - 30px);
			position: absolute;
		    left: 0;
		    right: 0;
		    bottom: 40px;
		    background: #3D3D3D;
		    height: 1px;
		    margin: auto;
		}
		
	}
	.sec2 .para_card_full{
		max-height: unset;
		padding-bottom: 80px;
		.readmore{
			display: block;
			img{
				transform: scaleY(1);
			}
		}
	}
	
	.slick-slider .slick-list{
		padding: 0 20% 0 0 !important;
	}
	.placeforslider2 .slick-slider .slick-list {
	    padding: 0 30px 0 0 !important;
	}
	.spiludvalg_hos .forsliderht2, .spiludvalg_hos .forsliderht{
		margin-bottom: 5px;
		margin-top: 20px;
		padding-right: 0;
	}
	.slider4 .forsliderht{
		padding-right: 70px;
	}
	
}
@media(max-width: 600px){
	.menuforphone .menus .list .searchbox_active {
	    max-width: calc(100% - 87px);
	}
}
@media(max-width: 520px){
	.menuforphone .menus .list .searchresults{
		bottom: 60px;
	}
	.menuforphone .menus .list .searchbox_active{
		max-width: 100%;
	}
	.menuforphone .menus .list .searchresults{
		width: 100%;
		left: 0;
	}
	.menuforphone .menus .list .searchresults .boxins{
		padding-left: 5px;
		padding-right: 5px;
	}
	.menuforphone .menus .list .searchresults .boxins h2{
		font-size: 13px;
	}
	.menuforphone .menus .list .searchresults .boxins h2 span{
		width: 110px;
	}
	// .menuforphone .menus .list .searchbox .searchcont input{
	// 	font-size: 12px;
	// }
	.menuforphone .menus .list .searchbox .searchcont input, .menuforphone .menus .list .searchresults .boxins .area{
		padding-left: 0;
		padding-right: 0;
	}
	.sec2 .row2_c .onphoneforlist{
		display: block;
	}
	.sec2 .row2_c .onphoneforlist .kondeservices, .sec2 .row2_c .onphoneforlist .omleovagas{
		margin-left: 0;
		margin-right: 0;
	}
	.footer .crow .steps5 .colc {
	    padding-left: 3px;
	    padding-right: 3px;
		max-width: calc(50% - 3px);
	}
	.footer .crow .steps5 .colc p{
		font-size: 10px !important;
		line-height: 13px !important;
	}
	.footer .crow .leftside .withform .socmediea ul .rs{
		margin-right: 0;
		text-align: center;
	}
	.footer .crow .leftside .withform .socmediea ul .rs span:last-child{
		margin-right: 0;
	}
	.footer{
		padding-bottom: 80px;
	}
	.footer .crow .leftside .withform button{
		position: relative;
		margin: auto;
		display: block;
		margin-top: 10px;
	}
	.new_row_w3 {
	    margin-top: -10px;
	    display: block;
	    flex-wrap: unset;
	}
	.betalingsmuligheder {
	    min-height: unset;
	}
	.casinoanmeldelser .card_b{
		display: block;
		width: 100%;
		max-width: 100%;
		margin-right: 0;
	}
	.casinoanmeldelser a:nth-child(odd) .card_b{
		margin-right: 0;
	}
	.forhelp{
		margin-top: 60px;
	}
	.sec2{
		padding-left: 10px;
		padding-right: 10px;
	}
	.casinoanmeldelser .card_b{
		min-height: 103px;
	}
	.casinoanmeldelser .card_b h3{
		font-size: 18px;
		margin-bottom: 7px;
		padding-top: 13px;
	}
	.sec2 .custom_cols .rightside .casinoanmeldelser .card_b p{
		font-size: 14px !important;
		margin-top: 11px;
	}
	.casinoanmeldelser .card_b .mainimg{
		max-width: 103px;
	}
	.casinoanmeldelser .card_b .flag{
		left: 92px;
	}
	.sec2 .custom_cols .rightside{
		padding-top: 0;
	}
	.sec2{
		padding-top: 25px;
	}
	.sec2 .custom_cols{
		display: block;
	}
	.sec2 .custom_cols .leftside{
		width: 100%;
	}
	.sec2 .custom_cols .rightside{
		width: 100%;
	}
	.menuforphone .menus .list{
		width: 19%;
	}
	.menuforphone .menus .list .home_menu{
		padding-top: 2px;
	}
	.menuforphone .menus .list:first-child{
		width: 24%;
	}
	.menuforphone .menus .list .home_menu2{
		display: none;
	}
	.menuforphone .menus .list .home_menu{
		display: block;
	}
	.menuforphone .menus .placefroimg{
		display: block;
	}
	.menuforphone .menus p{
		display: block;
		margin: 0;
		text-align: center;
	}
	.menuforphone .menus .activemobile p:before{
		top: -33px;
		width: 40px;
		left: 0;
		right: 0;
	}
	.menuforphone .menus{
		padding-top: 7px;
	}
	.menuforphone .menus .list .dropdown{
		bottom: 60px;
	}
}
@media(max-width: 360px){
	.footer .crow .leftside .withform h2{
		font-size: 22px;
	}
	.phonebanner .btn_r{
		max-width: 95px;
	}
	.phonebanner h2{
		padding-left: 5px;
		font-size: 24px;
	}
}